body {
  text-align: center;
  font-family: Helvetica;
}

.navigation {
  background: url("../images/building.png");
  color: white;
}

.navigation h1 {
  font-size: 70px;
  font-weight: bold;
}

.navigation a {
  font-size: 18px;
}
